/*
    BACKGROUND COLORS

    mobile  : #bff
    tablet  : #fcf
    desktop : #ff9

    BREAKPOINTS

    tablet  : 700px
    desktop : 1000px
*/

/*** Default Mobile Styles ****************************/
body{
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, monospace;
    font-size: 0.9em;
    line-height: 1.4;
}
h1{
    text-align: center;
    text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #bff;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}

.inner li {
  background-color: white;
}





/**** Tablet Styles ***********************************/

@media (min-width: 700px) {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  ul li {
    flex: 1 1 40%;
    background-color: #fcf;
  }

  .inner {
    flex: 1 1 100%;
  }
}






/**** Desktop Styles ***********************************/

@media (min-width: 1000px) {

  ul {
    display: flex;
    flex-wrap: wrap;
  }
 ul li {
   background-color: #ff9;
   flex-basis: 10%;
 }

 .inner {
   order: -1;
 }

 .inner li {
   flex-basis: 20%;
 }
}
